
@{
    ViewData["Title"] = "Eİrsaliye";
}
<div class="ttm-page-title-row">
    <div class="ttm-page-title-row-inner ttm-bgcolor-darkgrey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">E-İRSALE</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <i class="ti ti-home margin_right1"></i>
                            <a title="Homepage" href="@Url.Action("Index","Home")">ANA SAYFA</a>
                        </span>
                        <span>E-İRSALE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-main">
    <div class="ttm-row sidebar ttm-sidebar-left ttm-bgcolor-white overflow-hidden clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4 widget-area sidebar-left ttm-col-bgcolor-yes ttm-bg ttm-left-span ttm-bgcolor-grey mt_80 padding_top80 mb_80 padding_bottom80 res-991-margin_top0 res-991-padding_top0">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                    <aside class="widget widget-nav-menu with-title">
                        <h3 class="widget-title">E-Çözümler</h3>
                        <ul>
                            <li><a href="@Url.Action("Eİrsaliye","ELedger")">E-İrsaliye</a></li>
                            <li><a href="@Url.Action("Einvoice","ELedger")">E-Fatura</a></li>
                            <li><a href="@Url.Action("Index","ELedger")">E-Defter</a></li>
                        </ul>
                    </aside>
                    <aside class="widget contact-widget with-title">
                        <h3 class="widget-title"></h3>
                        <ul class="contact-widget-wrapper">
                            <li><i class="ttm-textcolor-skincolor ti ti-email"></i><a href="mailto:info@asal.com.tr" target="_blank">info@asal.com.tr</a></li>
                            <li><i class="ttm-textcolor-skincolor ti ti-mobile"></i>0 532 598 94 42</li>
                            <li><i class="ttm-textcolor-skincolor ti ti-location-pink"></i>Merkez Mah. Şamlı Sokak Ergül Çakıcı İş Merkezi No: 27 /42 Avcılar / İstanbul</li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-8 content-area">
                    <div class="ttm-service-single-content-area">
                        <div class="ttm-featured-wrapper margin_bottom40">
                            <img class="img-fluid" src="@Url.Content("~/images/services/irsale.png")" alt="" height="100%" width="100%">
                        </div>
                        <div class="ttm-service-description">
                            <h3>E-İRSALE</h3>
                            <p>
                                Çok yakında yollarda Elinde tabletle Mali polisleri göreceğiz.<br /><br />
                                Evet bu E-İrsaliyenin şimdiden hayal ettiğimiz ve yakın zamanda karşılaşacağımız boyutudur. E-Fatura,  E-Defter ve E-Arşiv’ den sonraki aşama olarak beklediğimiz E-Devlet uygulaması olan E-İrsaliye var. 2016 yılında tebliğ’ in yayınlanması beklenen E-İrsaliye daha önce kağıt ortamında düzenlenen irsaliyelerin Elektronik ortama taşınması anlamına geliyor.<br /><br />
                                E-İrsaliye ile beklenen ise şuan için tahminden ibaret.<br /><br />
                                Tahminimiz ise hazırlanmış olan E-İrsaliyenin GIB’ in sistemine yüklenerek ilgili sevkiyatın yola çıkmasıyla başlayıp malın teslim’ i ile alıcının onaylaması ile tamamlanan bir süreç olarak karşımıza çıkmasını bekliyoruz.<br /><br />

                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </div>
</div>


