
@{
    ViewData["Title"] = "Projectmanagement";
}
<div class="ttm-page-title-row">
    <div class="ttm-page-title-row-inner ttm-bgcolor-darkgrey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">DIJITAL DÖNÜŞÜM HIZMETLERI</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <i class="ti ti-home margin_right1"></i>
                            <a title="Homepage" href=" @Url.Action("Index","Home")">Home</a>
                        </span>
                        <span>Hİzmetler</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ttm-row blog-section clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title style2">
                    <div class="title-header">
                        <h3>Dijital dönüşüm hizmetleri</h3>
                        <h5 class="title">Rekabetin hızla arttığı piyasalarda firmaların temel hedefi, satış ve dağıtım kanallarını en etkin şekilde yönetirken, kârlılığı ve verimliliği de en yüksek seviyede tutmaktır.</h5>
                    </div>
                    <div class="title-desc">
                        <p>
                            Logo çözümlerinin, işletmelerin boyutu ve sektör gereklilikleri doğrultusunda özelleşen ihtiyaçlarına uygun bir şekilde uyarlanması ve kurgulanması aşamalarında, Logo uzman proje ekipleri danışmanlık ve destek hizmeti sunmaktadır. Mevcut çözümlerin uyarlanmasının yanı sıra işletmelerin özel ihtiyaçlarına yönelik yazılım ve entegrasyon geliştirme hizmeti verilmektedir.

                        </p>
                    </div>
                </div><!-- section title end -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="row slick_slider slick-initialized slick-slider" data-slick="{&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1, &quot;arrows&quot;:false, &quot;dots&quot;:false, &quot;autoplay&quot;:true, &quot;infinite&quot;:true, &quot;responsive&quot;: [{&quot;breakpoint&quot;:1024,&quot;settings&quot;:{&quot;slidesToShow&quot;: 1}} , {&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;: 2}}, {&quot;breakpoint&quot;:575,&quot;settings&quot;:{&quot;slidesToShow&quot;: 1}}]}">
                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 4500px; transform: translate3d(-1500px, 0px, 0px); transition: transform 1000ms ease 0s;">
                            <div class="col-lg-6 slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 500px;" tabindex="-1">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-post style2">
                                    <div class="featured-thumbnail">
                                        <img class="img-fluid" src="@Url.Content("~/images/blog/blog-04-562x680.jpg")" alt="blog_img" height="100%" width="100%">
                                    </div>

                                </div><!-- featured-imagebox-post end -->
                            </div>
                            <div class="col-lg-6 slick-slide" data-slick-index="0" aria-hidden="true" style="width: 500px;" tabindex="-1">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-post style2">
                                    <div class="featured-thumbnail">
                                        <img class="img-fluid" src="@Url.Content("~/images/blog/blog-01-562x680.jpg")" alt="blog_img" height="100%" width="100%">
                                    </div>

                                </div><!-- featured-imagebox-post end -->
                            </div>
                            <div class="col-lg-6 slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 500px;" tabindex="-1">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-post style2">
                                    <div class="featured-thumbnail">
                                        <img class="img-fluid" src="@Url.Content("~/images/blog/blog-03-562x680.jpg")" alt="blog_img" height="100%" width="100%">
                                    </div>

                                </div><!-- featured-imagebox-post end -->
                            </div>
                            <div class="col-lg-6 slick-slide" data-slick-index="3" aria-hidden="true" style="width: 500px;" tabindex="-1">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-post style2">
                                    <div class="featured-thumbnail">
                                        <img class="img-fluid" src="@Url.Content("~/images/blog/blog-04-562x680.jpg")" alt="blog_img" height="100%" width="100%">
                                    </div>

                                </div><!-- featured-imagebox-post end -->
                            </div>

                        </div>
                    </div>



                </div>
            </div>
            <div class="col-lg-7">
                <div class="accordion padding_top15 padding_left15 res-991-padding_left0 res-991-padding_top30">
                    <!-- toggle -->
                    <div class="toggle ttm-toggle_style_classic style2 ttm-toggle-title-bgcolor-white">
                        <div class="toggle-title box-shadow">
                            <a href="#" >   
                                Dijital dönüşüm danışmanlığı
                            </a>
                        </div>
                        <div class="toggle-content show" style="display: none;">
                            <p>
                                Dijital dönüşüm danışmanlığı hizmetimizde, dijitalleşen dünyada işletmelere rehberlik edebilmek, mevcut durumlarını belirlemek, dijital stratejilerini oluşturmak amacıylaihtiyaç duyacakları hizmetler bir arada sunulmaktadır.

                                Buradaki amaç işletmelerin mevcut durumlarına göre önceliklerini belirleyerek temelinde insan olgusunun yer aldığı bu dönüşümü kendi kültürlerine en uygun şekilde yaşamalarını sağlamaktır.
                            </p>
                        </div>
                    </div><!-- toggle end -->
                    <!-- toggle -->
                    <div class="toggle ttm-toggle_style_classic style2 ttm-toggle-title-bgcolor-white">
                        <div class="toggle-title box-shadow"><a href="#">Proje yönetimi</a></div>
                        <div class="toggle-content" style="display: none;">
                            <p>Proje Yönetim hizmeti, Asal Yazılım çözümlerinin işletmelere uygulanması ve özel yazılım geliştirme gibi projelerin Logo Proje Yönetim Metotuna bağlı kalınarak yönetilmesi konusunda verilen danışmanlık ve denetim hizmetidir. Bu hizmet, proje uygulama ve özel yazılım geliştirme hizmeti ile birlikte sunulur.</p>
                        </div>
                    </div><!-- toggle end -->
                    <!-- toggle -->
                    <div class="toggle ttm-toggle_style_classic style2 ttm-toggle-title-bgcolor-white">
                        <div class="toggle-title box-shadow"><a href="#">Proje uygulama</a></div>
                        <div class="toggle-content" style="display: none;">
                            <p>
                                Proje Uygulama hizmeti, işletmelerin süreçlerini ERP ve diğer fonksiyonel çözümlerle yönetmeleri için gereken analiz, tasarım, implementasyon, canlıya geçiş ve canlıya geçiş sonrası refakat aşamalarını kapsayacak şekilde sunulan bir danışmanlık hizmetidir. Logo Proje Yönetim metotuna bağlı kalınarak disiplinli bir şekilde yürütülen projelerde, işletme süreçlerindeki iyileştirme fırsatları ve müşteri beklentileri ön planda tutulur.

                                Asal Yazılım Proje Yönetim Metotu, ürün satışı öncesi aktivitelerden başlayıp canlı kullanım desteği adımlarına kadar devam eden süreçte, projelerin başarıyla yürütülmesi için katma değer yaratan detaylı bir metottur. Bu metotla birlikte; projelerde etkin analiz ve planlamanın yapılması, paydaşlar arasındaki iletişimin doğru yönetilmesi, anahtar kullanıcıların projeye etkin katılımının sağlanması hedeflenir.
                            </p>
                        </div>
                    </div><!-- toggle end -->
                    <!-- toggle -->
                    <div class="toggle ttm-toggle_style_classic style2 ttm-toggle-title-bgcolor-white">
                        <div class="toggle-title box-shadow"><a href="#">Özel yazılım geliştirme</a></div>
                        <div class="toggle-content" style="display: none;">
                            <p>Asal Yazılım, farklı platformlar üzerindeki deneyimli ve uzman özel projeler ekibi ile işletmelerin ihtiyaçlarına özel uygulamalar sunarken, danışmanlık, destek, eğitim, entegrasyon, hosting ve uygulama bakım hizmetlerini de sağlamaktadır. Hazine Yönetimi, B2B sistemleri, Veri Toplama , Konsolidasyon ve Merkezi Raporlama alanlarına yönelik operasyonel ihtiyaçları karşılayan iş çözümleri üretirken, bir yandan da hazırlanan raporlama sistemleri ile yöneticilere karar aşamalarında destek olmaktadır. Logo'nun geliştirdiği özel projeler 70'e yakın ülkede ve birçok farklı dilde binlerce kullanıcıya hizmet vermektedir.</p>
                        </div>
                    </div><!-- toggle end -->
                    <!-- toggle -->
                    <div class="toggle ttm-toggle_style_classic style2 ttm-toggle-title-bgcolor-white">
                        <div class="toggle-title box-shadow"><a href="#">Özelleştirme ve entegrasyon</a></div>
                        <div class="toggle-content" style="display: none;">
                            <p>
                                Günümüzde yaşanan yoğun rekabet ortamında işletmeleri öne çıkaran özel iş yapış biçimlerini destekleyecek şekilde yazılımlarda özelleştirme ve entegrasyon ihtiyaçları doğabilmektedir.

                                Logo proje çözümleri üzerinde işletmelere özel süreçleri karşılamak üzere uzman ekipler tarafından Özelleştirme ve Entegrasyon hizmeti sunulur.

                                İşletmelerin kullandığı üçüncü parti yazılımların Logo çözümleri ile entegre edilmesi için yapılacak geliştirmeler bu hizmetin bir parçasıdır.
                            </p>
                        </div>
                    </div>
                    <div class="toggle ttm-toggle_style_classic style2 ttm-toggle-title-bgcolor-white">
                        <div class="toggle-title box-shadow"><a href="#">Proje sonrası destek hizmeti</a></div>
                        <div class="toggle-content" style="display: none;">
                            <p>Proje Sonrası Destek Hizmeti, Proje Uygulama ve Özel Yazılım Geliştirme hizmetlerinin ardından; işletmelerdeki kullanıcıların desteklenmesi ve yeni taleplerin yönetilmesi için verilen bir hizmettir. İşletmelerin ihtiyaç duyduğu kapsama göre Yerinde Destek, Çağrı Merkezi, Uzak Bağlantı ve Sistem Bakımı hizmetleri sağlanmaktadır.</p>

                        </div>
                    </div><!-- toggle end -->
                    
                    <!-- toggle end -->
                </div>
            </div>
        </div>
    </div>
</section>
